<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wishing App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="padding: 20px;">
    <div class="row ">
        <div class="col">
            <h1>Hello {{user.first_name}}! These are your stats!</h1>
        </div>
        <div class="col"><a href="/wishes" class="btn btn-info">Dashboard</a></div>
        <div class="col"><a href="/logout" class="btn btn-danger">Logout</a></div>
    </div>
    <br>
    <br>
    <br>
    <h3>Total wishes granted so far for all users:{{all_granted_wishes|length}}</h3>

    <br>
    <br>
    <h2>Your granted wishes:{{user_granted_wishes|length}}</h2>
    <h2>Your pending wishes:{{user_ungranted_wishes|length}}</h2>
</body>

</html>